* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 50px;
    background-color: green;
}

.nav {
    height: 50px;
    background-color: olive;
}

.left-block, .right-block {
    height: 100%;
    float: left;
}

.left-block {
    width: 30%;
    background-color: grey;
    height: 500px;
}

.right-block {
    width: 70%;
    background-color: khaki;
    height: 500px;
}

.main-content {
    height: 90%;
    background-color: lawngreen;
}

.extra-content {
    height: 10%;
    background-color: lightblue;
}

.footer {
    height: 50px;
    background-color: hotpink;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

